@import "./reset";
@import "./variable";
@import './grid';
@import "./layout";
@import "./qa";
@import "./index";

body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
 }


h3{
  line-height: 54px;
  font-size: 36px;
}

header , footer{
  background-color: $nowColor;
  color: #fff;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
    @include pad{
      max-width: 720px;
    }
    @include mobile{
      max-width: 373px;
    }
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }



